@media screen and (max-width: 600px) {
    body {
      padding: 0 10px;
    }
  
    .main {
      padding: 16px;
      margin-top: 0px;
      box-sizing: border-box; 
    }
  
    .header-container {
      flex-direction: column;
      text-align: left; 
    }
  
    .header-title {
      margin: 10px 0;
      font-size: 1.5em;
    }
  
    main {
      text-align: left; 
    }
  
    .main p {
      font-size: 18px; 
      line-height: 1.6;
      margin-bottom: 15px; 
    }
  
    .main img {
      width: 100%;
      height: auto;
      display: block; 
      margin-bottom: 15px; 
    }
  
    .scroll-up-button {
      text-align: right;
    }
  
    footer {
      text-align: left; 
      font-size: 0.9em; 
      padding-top: 20px;
    }
  }

  .main {
    padding: 16px;
    margin-top: 30px;
    height: auto; 
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .header-title {
    color: rgba(130, 141, 130, 255);
    font-size: 2em;
    margin: 0 20px;
  }

  body {
    background-color: rgb(59, 57, 53);
    color: rgb(177, 162, 136);
    font-family: 'Bodoni MT';
    font-size: larger;
  }
  
  h3 {
    color: rgba(130, 141, 130, 255);
    font-size: 1.5em;
  }

  footer {
    color: rgba(130, 141, 130, 255);
  }
  
  

  
  