  /* Main title styling */
  .main-title {
    font-size: 3em;
    text-align: center;
  } 
  
  /* Sub-title styling */
  .sub-title {
    color: rgb(128, 138, 122);
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    padding-top: 15px;
  }
  
  /* Main content styling */
  .main {
    padding: 0px;
    margin-top: 30px;
    height: 2200px;
  }
  
  /* Row styling */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  
  /* Column styling */
  .column {
    flex: 30%;
    max-width: 50%;
    padding: 0 0px;
    text-align: center;
    position: relative;
  }
  
  /* Column image styling */
  .column img {
    margin-top: 30px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive design for columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* Label styling */
  .label {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
    color: rgb(51, 51, 51);
    font-size: 20px;
    background-color: rgb(224, 230, 221);
    padding: 2px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s;
    font-weight: bold;
    max-width: 90%;
    word-wrap: break-word;
  }
  
  /* Button image styling */
  .button img {
    display: block;
    width: 95%;
    height: auto;
    transition: transform 0.2s;
    box-shadow: 0 6px 10px rgba(56, 56, 56, 0.3);
    border-radius: 2%;
  }
  
  /* Hover effects for button images */
  .button img:hover {
    transform: scale(1.02);
    filter: brightness(80%);
  }
  
  /* Hover effects for labels */
  .button:hover .label {
    opacity: 0.8;
  }
  
  /* Button styling */
  .button {
    position: relative;
    cursor: pointer;
  }
  
  /* Specific styling for button set 2 */
  .button-set-2 .label {
    color: rgb(192, 173, 133);
  }
  
  .button-set-2 .fa-arrow-up {
    color: rgb(192, 173, 133);
  }

  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 20px;
  }
  
  footer span,
  footer a {
    color: rgba(130, 141, 130, 255);
  }
  