body {
  background-color: rgb(59, 57, 53);
  color: rgb(177, 162, 136);
  font-family: 'Bodoni MT', serif;
}

header {
  text-align: center;
  margin-top: 10px;
}

.header-title {
  font-size: 3em;
}

.main-content {
  padding: 5px;
  margin-top: 20px;
  height: 400px; 
}

.section-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(128, 138, 122);
}

.main-text {
  font-size: 25px;
  cursor: pointer;
}

footer {
  margin-top: auto;
  background-color: rgb(59, 57, 53);
  color: rgb(177, 162, 136);
  padding: 20px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .main-content {
    padding: 5px;
  }

  .section-title {
    font-size: 1.2em;
  }

  .main-text {
    font-size: 20px;
  }

  .header-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 1.2em; 
  }

  .main-text {
    font-size: 20px; 
  }

  .sub-title {
    font-size: 1em; 
  }
}

@media screen and (max-width: 360px) {
  .header-title {
    font-size: 1.2em;
  }
}
