ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(78, 74, 68);
  }
  
  ul {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(177,162,136);
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 20px 20px;
    text-decoration: none;
  }

  